@model CreatePersonViewModel

@using(Html.BeginForm("CreatePerson", "People", FormMethod.Post))
{
	<div asp-validation-summary="ModelOnly"></div>
	<table class="create-person-table">
		<tr>
			<td>
				<label asp-for="Name" class="fw-bold float-end">
					Name: 
				</label>
			</td>
			<td>
				<input type="text" asp-for="Name" /> 
				<span asp-validation-for="Name"></span>
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="PhoneNumber" class="fw-bold float-end"></label>
			</td>
			<td>
				<input type="tel" asp-for="PhoneNumber" />
				<span asp-validation-for="PhoneNumber"></span>
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="City" class="fw-bold float-end"></label>
			</td>
			<td>
				<input type="text" asp-for="City" />
				<span asp-validation-for="City"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2"><input class="btn btn-success float-end mt-3" type="submit" value="Crate Person" /></td>
		</tr>

	</table>

}
