@* Country *@

@{
	ViewData["Title"] = "Countries";
}

@section Scripts{
	<script src="~/js/CountryScript.js" asp-append-version="true"></script>
}


<div class="container">

	<h1 class="text-center">Country Index</h1>

	<div>

		<div class="row">

			<div id="CountryList"></div>

			<div class="card card-body bg-dark mb-2">
				<input type="button" class="btn btn-info" onclick="getAllCountries()" value="Get countries" />
				<a asp-controller="Country" asp-action="AddCountry" class="btn btn-success my-1">Add new Country</a>
			</div>

			<div class="card card-body bg-dark mt-1">
				<div id="userMessages" class="fw-bold card-text"></div>
			</div>

		</div>
	</div>
</div>