@* Country *@


@{
	ViewData["Title"] = "Countries";
}

@section Scripts{
	<script src="~/js/CountryScript.js" asp-append-version="true"></script>
}


<div class="container">


	<h1 class="text-center">Country Index</h1>

	<div>

		<div class="row">

			<div class="col-md-8 border-1 min">
				<div id="CountryList"></div>
			</div>

			<div class="col-md-4 mt-5">

				<div class="card card-body bg-dark mb-2">
					<input type="button" class="btn btn-info" onclick="getAllCountries()" value="Get countries" />
				</div>

				<div class="card card-body bg-dark">

					<!--
					<label for="countryIdInput" class="fw-bold float-start card-title">Country ID:</label>
					<input id="countryIdInput" type="number" class="my-1" />
					<input type="button" class="btn btn-info my-1" onclick="getCountryById()" value="Get details" />
					<input type="button" class="btn btn-danger my-1" onclick="removeCountryById()" value="Remove country" />
					-->

					<div class="card card-body bg-dark mt-1">
						<div id="userMessages" class="fw-bold card-text"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>