@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
	ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
	<h2>Who am I</h2>
	I am a 41 year old male living in Gothenburg. . .
</p>

<p>
	If you are interested in what i have done in my worklife, you can download my CV below. <br />
	<a href="~/items/CV-Ulf_Andersson-Lexicon.pdf">CV - pdf (253 kB)</a>
</p>