
@{
	ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div>
	<span class="bold">E-mail: </span>  <span class="contact-email">lexicon [at] gumulf.se</span>
</div>

<div>
	@*Find allowed fake phone number here:
		https://pts.se/sv/bransch/telefoni/nummer-och-adressering/telefonnummer-for-anvandning-i-bocker-och-filmer-etc/*@

	<span class="bold">Phone: </span><span class="contact-phone">+46-(0)31-3900680</span><br />
	<span class="bold">Mobile: </span><span class="contact-phone">+46-(0)70-1740680</span>

</div>