
@{
	ViewData["Title"] = "Projects";
}

<h1>Projects</h1>


<ul class="project-list">
	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">Calculator: </span>
			A simple console calculatior written in C#.
			<a href="https://github.com/GumUlf-Lexicon/LexiconCalculator">GitHub</a>
		</div>
	</li>
	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">Hangman:</span>
			The hangman game as a consol application, written in C#.
			<a href="https://github.com/GumUlf-Lexicon/LexiconHangman">GitHub</a>
		</div>
	</li>
	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">To-Do-It: </span>
			The framework for a basic To-Do-It application. Written in C#.
			<a href="https://github.com/GumUlf-Lexicon/LexiconToDoIt">GitHub</a>
		</div>
	</li>
	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">Vending machine: </span>
			A console application simulating a vending machine.
			<a href="https://github.com/GumUlf-Lexicon/LexiconVendingMachine">GitHub</a>
		</div>
	</li>
	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">Homepage, unstyled: </span>
			A simple basic homepage. Written in html.
			<a href="https://github.com/GumUlf-Lexicon/LexiconWeb/tree/master/Assignment_1">GitHub</a>
		</div>
	</li>

	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">Homepage, styled: </span>
			The same basic homepage, but this time styled with CSS.
			<a href="https://github.com/GumUlf-Lexicon/LexiconWeb/tree/master/Assignment_2">GitHub</a>
		</div>
	</li>

	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">Sokoban: </span>
			The classic game Sokoban, implemented in javascript.
			<a href="https://github.com/GumUlf-Lexicon/LexiconWeb/tree/master/Assignment_3">Github</a>
		</div>
	</li>

	<li class="project-item">
		<div class="project-item-description">
			<span class="bold">MVC project</span>
			Learning MVC.
			<a href="https://github.com/GumUlf-Lexicon/LexiconMVC">GitHub</a>
		</div>
	</li>


</ul>
