@* Person *@


@{
	ViewData["Title"] = "People";
}

@section Scripts{
	<script src="~/js/PersonScript.js" asp-append-version="true"></script>
}


<div class="container-lg">

	<h1 class="text-center">Person Index</h1>

		<div id="PersonList"></div>

		<div class="card card-body bg-dark mb-2">
			<input type="button" class="btn btn-info" onclick="getAllPersons(true)" value="Get people" />
			<a asp-controller="Person" asp-action="AddPerson" class="btn btn-success my-1">Add new Person</a>
		</div>
	
		<div class="card card-body bg-dark mt-1">
			<div id="userMessages" class="fw-bold card-text text-light"></div>
		</div>

</div>
