@* City *@


@{
	ViewData["Title"] = "Cities";
}

@section Scripts{
	<script src="~/js/CityScript.js" asp-append-version="true"></script>
}


<div class="container">


	<h1 class="text-center">City Index</h1>

	<div>
		<div id="CityList"></div>

		<div class="card card-body bg-dark mb-2">
			<input type="button" class="btn btn-info" onclick="getAllCities()" value="Get cities" />
			<a asp-controller="City" asp-action="AddCity" class="btn btn-success my-1">Add new City</a>
		</div>

		<div class="card card-body bg-dark mt-1">
			<div id="userMessages" class="fw-bold card-text"></div>
		</div>

	</div>
</div>