<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet"  asp-append-version="true"/>
</head>
<body class="bg-dark text-light">

	<header class="container pb-5">


		<nav class="navbar navbar-dark bg-black navbar-expand-md fixed-top">
			<div class="container">
				<div class="navbar-brand"><img class="logo-image rounded-pill" src="~/images/YmserSolutions_transparent.png" alt="Ymser Solutions logotype"/></div>
				<button class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#mainMenu">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="mainMenu" class="navbar-collapse collapse justify-content-center">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
						@*<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Projects">Projects</a></li>*@
						@*<li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a></li>*@
						@*<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="GuessingGame">Guessing Game</a></li>*@
						<li class="nav-item"><a class="nav-link" asp-controller="Person" asp-action="Index">People</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="City" asp-action="Index">Cities</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Country" asp-action="Index">Countries</a></li>
					</ul>
				</div>
			</div>
		</nav>


	</header>

	<main class="container">
		@RenderBody()
	</main>

	<footer class="container border-top mt-3">
		<div class="text-center">@DateTime.Now.ToShortDateString()</div>
		<div class="text-center">Ulf Andersson</div>
	</footer>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/PersonScript.js" asp-append-version="true"></script>
	<script src="~/js/CityScript.js" asp-append-version="true"></script>
	<script src="~/js/CountryScript.js" asp-append-version="true"></script>
</body>
</html>
