<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

   <header>

      <ul>
         <li>About</li>
         <li>Contact</li>
         <li>Projects</li>
      </ul>

   </header>
   
   <main>
      <div>
         @RenderBody()
      </div>
   </main>

   <footer>
      @* Current date and my name*@
   </footer>


</body>
</html>
