<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>

	<header>

		<div class="logo-box"><img class="logo-image" src="~/images/YmserSolutions_transparent.png" /></div>
		
		<nav class="menu-body">
			<ul>
				<li class="menu-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li class="menu-item"><a asp-controller="Home" asp-action="About">About</a></li>
				<li class="menu-item"><a asp-controller="Home"asp-action="Contact">Contact</a></li>
				<li class="menu-item"><a asp-controller="Home" asp-action="Projects">Projects</a></li>
				<li class="menu-item"><a asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a></li>
				<li class="menu-item"><a asp-controller="Home" asp-action="GuessingGame">Guessing Game</a></li>
				<li class="menu-item"><a asp-controller="People" asp-action="Index">People</a></li>
			</ul>
		</nav>

	</header>

	<main>
		<div>
			@RenderBody()
		</div>
	</main>

	<footer>

		<div class="date">@DateTime.Now.ToShortDateString()</div>
		<div class="author">Ulf Andersson</div>
	</footer>


</body>
</html>
