@model List<Person>

<div class="row pt-2 border-bottom">
	<div class="col-1 fw-bold">ID</div>
	<div class="col-4 fw-bold">@Html.DisplayNameFor(m => Model.FirstOrDefault().Name)</div>
	<div class="col-3 fw-bold">@Html.DisplayNameFor(m => Model.FirstOrDefault().PhoneNumber)</div>
	<div class="col-3 fw-bold">@Html.DisplayNameFor(m => Model.FirstOrDefault().City)</div>
	<div class="col-1">&nbsp;</div>
</div>

@{
	foreach(Person person in Model)
	{
			<partial name="_partialPerson" model=person />
	}
}
 